.container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.content {
  text-align: left;
  margin: 0;
  color: #f9f9f9;
  padding: 30px;
  position: absolute;
  top: 30%;
  outline: none;
}

img {
  max-height: 100vh;
}

.content p {
  font-size: 20px;
  margin: 0;
  font-family: 'Palanquin', sans-serif;
}

.title {
  font-size: 100px;
  font-weight: 700;
}

.content:hover {
  text-shadow: #fff 0 0 7px;
  cursor: pointer;
}

.view-details-button {
  background: none;
  font-size: 50px;
  border: none;
  color: #f9f9f9;
  padding: 10px 0;
  margin-top: 30px;
  font-family: 'Palanquin', sans-serif;
}

.view-details-button:hover {
  cursor: pointer;
  color: #fff;
  /* border-bottom: 3px solid #f9f9f9; */
}

/* Smartphones (portrait) ----------- */

@media only screen and (max-width: 425px) {
  /* Styles */
  .title {
    font-size: 50px;
  }
  .content p {
    font-size: 20px;
    margin: 30px 0;
  }
}
