<div class="container">
  <!-- <img src="{{source}}"> -->
  <div class="content">
    <h2>Siddhant Shah</h2>
    <p>Bombay transplant, self-taught UI Designer/Developer, eccentric digital artisan.
      <br> Curious about new technology and collaborative in art and experience.
      <br> Enjoys coding challenges, tacos, and modern furniture.</p>
    <p>Siddhant looks for social narratives in the art he personally curates
      <br> and believes in the work of Don Hertzfeldt as the zeitgeist. Filmmaking is an outlet for his wandering mind,
        <br> and he hopes to transform audiences with his eccentric style.</p>
  </div>
</div>
