ul li{
    text-decoration: none;
    display: inline-block;
}

.nav-container {
    width: 100vw;
    margin: 0 auto;
    text-align: center;
    position: fixed;
    top: 0;
}

.links {
    margin: 20px 140px 0 0;
    cursor: pointer;
    color: #f9f9f9;
    font-size: 20px;

}
ul li:last-child {
    margin-right: 0;
}
