<div class="back" [routerLink]="['../']">
  Back
</div>

<div class="image-container">
  <img src="{{details.source}}" alt="">
  <div class="title-container">
    <div class="title">{{details.title}}</div>

  </div>
</div>


<div class="content-container">
  <div class="content">
    <h2>What is it?</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque blandit laoreet. Donec viverra accumsan tincidunt. Vestibulum congue
      risus ac malesuada scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas placerat
      arcu ac interdum luctus. Integer eget nisl malesuada, gravida felis quis,</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque blandit laoreet. Donec viverra accumsan tincidunt. Vestibulum congue
      risus ac malesuada scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas placerat
      arcu ac interdum luctus. Integer eget nisl malesuada, gravida felis quis,</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque blandit laoreet. Donec viverra accumsan tincidunt. Vestibulum congue
      risus ac malesuada scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas placerat
      arcu ac interdum luctus. Integer eget nisl malesuada, gravida felis quis,</p>


    <h2>Process</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque blandit laoreet. Donec viverra accumsan tincidunt. Vestibulum congue
      risus ac malesuada scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas placerat
      arcu ac interdum luctus. Integer eget nisl malesuada, gravida felis quis,</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque blandit laoreet. Donec viverra accumsan tincidunt. Vestibulum congue
      risus ac malesuada scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas placerat
      arcu ac interdum luctus. Integer eget nisl malesuada, gravida felis quis,</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi scelerisque blandit laoreet. Donec viverra accumsan tincidunt. Vestibulum congue
      risus ac malesuada scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas placerat
      arcu ac interdum luctus. Integer eget nisl malesuada, gravida felis quis,</p>

  </div>
</div>
